/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
:root {
  --bg: #FDFFF7;
  --bg2: #12130F;
  --highlight: #D00000;
  /*cinza: #808782 */
}

body {
  font-family: Barlow;
  border:0;
  margin: 0;
  background-image: url(./assets/images/background-image.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}